@media only screen and (max-width: 600px) {
  /* HEADER SECTION */
  body {
    padding: 0;
    font-family: "Roboto", sans-serif;
    margin: 0px auto;
    overflow-wrap:  hidden;
  }
  
  .navbar {
    position: relative;
    grid-template-columns: repeat(15, 1fr);
    z-index: 1;
  }
  .navbar .shoping {
    display: none;
  }
  .navbar .menu-bar {
    display: block;
    grid-column: 14/15;
    font-size: 2em;
    cursor: pointer;
  }
  .navbar a:hover {
    color: #fff;
  }
  .navbar .menu {
    position: absolute;
    width: 100%;
    height: 55vh;
    display: grid;
    align-items: center;
    border-radius: 0px 0px 0px 10px;
    background: linear-gradient(rgba(16, 16, 16, 0), rgba(16, 16, 16, 0.2)),
      #edcb54;

    margin-top: 25em;
    grid-column: 10/16;
    transform: translateY(-112%);
    transition: all 1s;
  }

  .navbar .menu-toggle {
    transform: translateY(2%);
  }
  .navbar .logo {
    width: 90px;
    height: 60px;
    grid-column: 2/3;
    cursor: pointer;
  }
  /* BODY SECTION */
  .hero h1 {
    font-size: 3.5em;
    color: #edcb54;
    margin: 0;
  }
  .container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-column: 3/13;
    grid-row: 2/5;
  }

  .box {
  width: 50vmin;
  height: 50vmin;
  border: 2px dashed rgba(255,255,255,0.4);
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px dashed rgba(255,255,255,0.4);
    transform: scale(1.42);
  }
}

  .hero .info-content {
    grid-column: 5/12;
    grid-row: 7/11;
    color: #fff;
    margin-top: 5px;
  }
  .hero p {
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    width: 200px;
  }
  .hero .btn {
    font-size: 1em;
    width: 110px;
    background: none;
    color: #fff;
    padding: 5px 9px;
    border: 1px solid #edcb54;
    border-radius: 30px;
    grid-column: 12/15;
    grid-row: 12/13;
    margin-top: 20px;
    
  }
  /* SECOND SECTION MAIN */
  .services {
    padding: 50px 30px;
  }
  .cards .card:hover {
    background-color: rgb(172, 171, 171);
  }
  
  .cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  /* HABILIDADES */
  .wrapper__container{
    padding: 20px;
    border: 1px solid #edcb54;
    border-radius: 15px;
    margin: 11px;
  }

  .wrapper__content {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 10px;
  }
  .wrapper__content > .wrapper__title {
    padding: 35px 25px;
    border-radius: 45px;
  }

.about h1 {
  padding: 5px;
  width: 150px;
}
  .container5 {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .bar {
    position: inherit;
    background: #2b2929;
    width: 372px;
    height: 25px;
    border-radius: 20px;
    margin: 10px;
  }
  .bar-size {
    position: inherit;
    width: 50%;
    background: rgb(172, 171, 171);
    height: inherit;
    border-radius: 10px;
  }

  .habilidades span:nth-child(2) {
    margin-left: 38%;
    font-size: 14px; 
  }
  
  .habilidades span:nth-child(5) {
    margin-left: 34%;
    font-size: 14px;
  }
  
  .habilidades span:nth-child(8) {
    margin-left: 43%;
    font-size: 14px;
  }
  
  .habilidades span:nth-child(11) {
    margin-left: 73%;
    font-size: 14px;
  }
  .habilidades span:nth-child(14) {
    margin-left: 64%;
    font-size: 14px;
  }

  .node {
    width: 45%;  
  }
  
  .interaction {
    width: 55%;
  }
  
  .ux {
    width: 85%;
  }
  
  .framework {
    width: 75%;
  }
  
 
  .habilidades {
    color:  #edcb54;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    width: 480px;
    padding: 10px;
  }
  .content-all {
    width: 405px;
    height: 300px;
    position: inherit;
    display: flex;
    margin: inherit;
    margin-top: 5%;
    overflow: hidden;
    perspective: 800px;
    box-shadow: 0 20px 40px 0 #edcb54;
    border-radius: 5px;
  }

  .fa-brands {
    padding-left: 10px;
  }
  /* PROYECTOS */

  .proyects-container {
    padding: 80px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 25px;
    background-color: #2b2929;
  }

  .content-all.visible {
    opacity: 1;
          transform: scale(0.9); 
  }
  


  /* CONTACTO */
  .form {
    background-color:none;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 4.5em  2.5em; 
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container__form{
    background-image: url(./img/smarphone2.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .form__container {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container__form h2 {
    margin-bottom: 110px; 
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    font-weight: 400;
    
  }
  
.form_cta {
  font-family: inherit;
  font-size: 1.5rem;
  border: 1px solid #edcb54;
  color: #edcb54;
  cursor: pointer;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .3em;
  font-weight: 450;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  
}

.form_cta:hover {
  background: none;
  border: 1px solid #edcb54;
  aspect-ratio: 1;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.form__input--message {
  resize: none;
  padding: 1.4em 1.5em;
  margin-bottom: 1.2em;
}

  /* FOOTER SECTION */
  .footer .follow-me {
    display: none;
  }
  .footer .social-network {
    text-align: center;
  }
}
